layout {
    tab_template name="aibox-tab" {
        children
        pane size=1 borderless=true {
            plugin location="file:/usr/local/share/aibox/zellij/aibox-status.wasm" {
                role "keys"
            }
        }
        pane size=1 borderless=true {
            plugin location="file:/usr/local/share/aibox/zellij/aibox-status.wasm" {
                role "status"
            }
        }
    }
    aibox-tab
}
