{{/* Release-aware override of Docsy's flat version selector. */ -}}
{{ $menuName := .Site.Params.version_menu | default "Releases" -}}
<div class="td-version-menu dropdown">
  <a class="nav-link dropdown-toggle td-version-menu__title" href="#" role="button"
    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="td-version-menu__title-text">{{ $menuName }}</span>
  </a>
  <ul class="dropdown-menu td-release-menu"
    data-release-manifest="{{ printf "%sreleases.json" .Site.Params.productionURL }}"
    data-current-base="{{ .Site.BaseURL }}"
    data-current-version="{{ .Site.Params.version }}">
    {{ range .Site.Params.versions -}}
      <li>
        <a class="dropdown-item{{ if eq .version $.Site.Params.version }} active{{ end }}"
          href="{{ .url }}">{{ .name | default .version }}</a>
      </li>
    {{ end -}}
  </ul>
</div>
